.navbar {
  background: #F7F8FA;
}




#dropdown-item-button {
  background: #7AC751;
  padding: 10px 10px;
  font-family: 'Rubik', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.02em;
  border: none;

}
.dropdown-item-button{
  font-family: 'Rubik', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.02em;
  color: #555555;
  width: 178px;
}